# Acquire & Summarize

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from acquire import get_zillow_data

import warnings

pd.set_option('display.max_rows', None)
warnings.filterwarnings('ignore')

Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the `logerror`, all fields related to the properties that are available. You will end up using all the tables in the database.

1. Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for `airconditioningtypeid`.
2. Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with `zestimate error` and `date of transaction`.
3. Only include properties that include a `latitude` and `longitude` value.


This is the sql query I used to pull all the requested data from the zillow database.

```python
sql_query = '''
select *
from properties_2017
join(select parcelid,
    logerror,
    max(transactiondate) as lasttransactiondate
    from predictions_2017
    group by parcelid, logerror
    ) as predictions using(parcelid)
left join `airconditioningtype` using(`airconditioningtypeid`)
left join `architecturalstyletype` using(`architecturalstyletypeid`)
left join `buildingclasstype` using(`buildingclasstypeid`)
left join `heatingorsystemtype` using(`heatingorsystemtypeid`)
left join `propertylandusetype` using(`propertylandusetypeid`)
left join `storytype` using(`storytypeid`)
left join `typeconstructiontype` using(`typeconstructiontypeid`)
where (latitude is not null
and longitude is not null);'''

df = get_zillow_data(sql_query)
```

In [32]:
# Load the zillow dataset from a cached csv file
df = pd.read_csv('zillow.csv')

Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [33]:
df.shape

(77575, 68)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77575 entries, 0 to 77574
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77575 non-null  float64
 3   heatingorsystemtypeid         49570 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         25006 non-null  float64
 7   parcelid                      77575 non-null  int64
 8   id                            77575 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77575 non-null  float64
 11  bedroomcnt                    77575 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76960 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77375 non-null  float64
 17  finishedsquarefeet12          73920 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77575 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76960 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77575 non-null  float64
 29  longitude                     77575 non-null  float64
 30  lotsizesquarefeet             69318 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77575 non-null  object
 37  propertyzoningdesc            50475 non-null  object
 38  rawcensustractandblock        77575 non-null  float64
 39  regionidcity                  76103 non-null  float64
 40  regionidcounty                77575 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77525 non-null  float64
 43  roomcnt                       77575 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77306 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77460 non-null  float64
 52  taxvaluedollarcnt             77574 non-null  float64
 53  assessmentyear                77575 non-null  float64
 54  landtaxvaluedollarcnt         77573 non-null  float64
 55  taxamount                     77570 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77328 non-null  float64
 59  logerror                      77575 non-null  float64
 60  lasttransactiondate           77575 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49570 non-null  object
 65  propertylandusedesc           77575 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB

In [35]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
typeconstructiontypeid,222.0,6.040541e+00,5.572847e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
storytypeid,50.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
propertylandusetypeid,77575.0,2.618245e+02,5.141701e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
heatingorsystemtypeid,49570.0,3.921707e+00,3.594804e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,15.0,3.933333e+00,2.581989e-01,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
architecturalstyletypeid,206.0,7.388350e+00,2.734542e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
airconditioningtypeid,25006.0,1.812045e+00,2.965823e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
parcelid,77575.0,1.300630e+07,3.478021e+06,1.071186e+07,1.153820e+07,1.253053e+07,1.421124e+07,1.676893e+08
id,77575.0,1.495352e+06,8.609703e+05,3.490000e+02,7.521050e+05,1.498195e+06,2.240715e+06,2.982274e+06
basementsqft,50.0,6.797200e+02,6.897035e+02,3.800000e+01,2.730000e+02,5.150000e+02,7.965000e+02,3.560000e+03
bathroomcnt,77575.0,2.298518e+00,9.966998e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,77575.0,3.053252e+00,1.140440e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingqualitytypeid,49809.0,6.533779e+00,1.722062e+00,1.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,76960.0,2.316385e+00,9.796845e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,614.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,6035.0,1.366198e+03,6.708036e+02,4.400000e+01,9.550000e+02,1.257000e+03,1.615000e+03,6.912000e+03
calculatedfinishedsquarefeet,77375.0,1.784939e+03,9.542625e+02,1.280000e+02,1.182000e+03,1.542000e+03,2.112000e+03,3.564000e+04
finishedsquarefeet12,73920.0,1.760287e+03,9.343648e+02,1.280000e+02,1.172000e+03,1.523000e+03,2.075000e+03,2.192900e+04
finishedsquarefeet13,42.0,1.388762e+03,1.222209e+02,1.056000e+03,1.344000e+03,1.440000e+03,1.440000e+03,1.560000e+03
finishedsquarefeet15,3027.0,2.354491e+03,1.186985e+03,5.980000e+02,1.624000e+03,2.088000e+03,2.831000e+03,3.564000e+04
finishedsquarefeet50,6035.0,1.381427e+03,7.259040e+02,4.400000e+01,9.560000e+02,1.259000e+03,1.621000e+03,1.246700e+04
finishedsquarefeet6,386.0,2.082500e+03,1.240383e+03,3.800000e+02,9.937500e+02,1.812500e+03,3.053500e+03,5.598000e+03
fips,77575.0,6.048813e+03,2.074531e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,8287.0,1.191263e+00,4.910308e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,76960.0,2.250104e+00,9.664791e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,25517.0,1.815339e+00,5.883289e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,25517.0,3.500558e+02,2.616516e+02,0.000000e+00,0.000000e+00,4.360000e+02,4.920000e+02,4.251000e+03
hashottuborspa,1539.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,77575.0,3.400837e+07,2.652878e+05,3.333953e+07,3.381463e+07,3.402200e+07,3.417431e+07,3.481877e+07
longitude,77575.0,-1.182037e+08,3.593826e+05,-1.194754e+08,-1.184150e+08,-1.181810e+08,-1.179286e+08,-1.175546e+08
lotsizesquarefeet,69318.0,2.997445e+04,1.233076e+05,2.360000e+02,5.700000e+03,7.206000e+03,1.183700e+04,6.971010e+06
poolcnt,16173.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,869.0,5.179310e+02,1.565697e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,465.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1074.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,15078.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,77575.0,6.049123e+07,2.058768e+05,6.037101e+07,6.037311e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,76103.0,3.368339e+04,4.721286e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,77575.0,2.534536e+03,8.014499e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,30973.0,1.877303e+05,1.650452e+05,6.952000e+03,4.673600e+04,1.188490e+05,2.747650e+05,7.641670e+05
regionidzip,77525.0,9.658668e+04,3.793649e+03,9.598200e+04,9.619300e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,77575.0,1.476120e+00,2.823600e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
threequarterbathnbr,10105.0,1.009599e+00,1.185776e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,50703.0,1.110309e+00,1.169967e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.370000e+02
yardbuildingsqft17,2393.0,3.054609e+02,2.387352e+02,1.100000e+01,1.700000e+02,2.500000e+02,3.640000e+02,3.191000e+03
yardbuildingsqft26,70.0,2.163857e+02,1.901775e+02,1.200000e+01,6.150000e+01,1.645000e+02,3.105000e+02,8.680000e+02
yearbuilt,77306.0,1.968611e+03,2.379320e+01,1.824000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.016000e+03
numberofstories,17596.0,1.434246e+00,5.445184e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,172.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,77460.0,1.892815e+05,2.304137e+05,4.400000e+01,8.418200e+04,1.364045e+05,2.187340e+05,1.142179e+07
taxvaluedollarcnt,77574.0,4.901447e+05,6.538022e+05,1.000000e+03,2.068985e+05,3.588785e+05,5.690000e+05,4.906124e+07
assessmentyear,77575.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,77573.0,3.011453e+05,4.927287e+05,1.610000e+02,8.529300e+04,2.031740e+05,3.667530e+05,4.895220e+07
taxamount,77570.0,5.995822e+03,7.628869e+03,1.992000e+01,2.712630e+03,4.448265e+03,6.926785e+03,5.866393e+05
taxdelinquencyyear,2900.0,1.408828e+01,2.181281e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,77328.0,6.049666e+13,1.533376e+12,6.037101e+13,6.037311e+13,6.037603e+13,6.059042e+13,4.830301e+14
logerror,77575.0,1.680199e-02,1.707427e-01,-4.655420e+00,-2.431125e-02,6.672268e-03,3.929142e-02,5.262999e+00

In [36]:
df.isnull().sum()

typeconstructiontypeid          77353
storytypeid                     77525
propertylandusetypeid               0
heatingorsystemtypeid           28005
buildingclasstypeid             77560
architecturalstyletypeid        77369
airconditioningtypeid           52569
parcelid                            0
id                                  0
basementsqft                    77525
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           27766
calculatedbathnbr                 615
decktypeid                      76961
finishedfloor1squarefeet        71540
calculatedfinishedsquarefeet      200
finishedsquarefeet12             3655
finishedsquarefeet13            77533
finishedsquarefeet15            74548
finishedsquarefeet50            71540
finishedsquarefeet6             77189
fips                                0
fireplacecnt                    69288
fullbathcnt                       615
garagecarcnt                    52058
garagetotalsqft                 52058
hashottuborspa                  76036
latitude                            0
longitude                           0
lotsizesquarefeet                8257
poolcnt                         61402
poolsizesum                     76706
pooltypeid10                    77110
pooltypeid2                     76501
pooltypeid7                     62497
propertycountylandusecode           0
propertyzoningdesc              27100
rawcensustractandblock              0
regionidcity                     1472
regionidcounty                      0
regionidneighborhood            46602
regionidzip                        50
roomcnt                             0
threequarterbathnbr             67470
unitcnt                         26872
yardbuildingsqft17              75182
yardbuildingsqft26              77505
yearbuilt                         269
numberofstories                 59979
fireplaceflag                   77403
structuretaxvaluedollarcnt        115
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               2
taxamount                           5
taxdelinquencyflag              74675
taxdelinquencyyear              74675
censustractandblock               247
logerror                            0
lasttransactiondate                 0
airconditioningdesc             52569
architecturalstyledesc          77369
buildingclassdesc               77560
heatingorsystemdesc             28005
propertylandusedesc                 0
storydesc                       77525
typeconstructiondesc            77353
dtype: int64

In [37]:
# Using `isnull()` and `notnull()` we can calculate the number of missing values and non-null values.
nulls = df.isnull().sum()
non_nulls = df.notnull().sum()

# Add missing values and non-null values together to get the total number values in each column.
total_values = nulls + non_nulls

# Create a variable to store the percentage of missing values in each column.
pct_missing = (nulls/total_values).sort_values(ascending=False)

# Perform formatting to clearly see the percentage of missing values in each column.
pct_missing_chart = pct_missing.apply("{0:.2%}".format)

# Display table to the user showing the percentage of missing values in each column.
print('Percentage of values missing per column')
print('-' * 39)
print(f"{pct_missing_chart}")

Percentage of values missing per column
---------------------------------------
buildingclasstypeid             99.98%
buildingclassdesc               99.98%
finishedsquarefeet13            99.95%
storytypeid                     99.94%
basementsqft                    99.94%
storydesc                       99.94%
yardbuildingsqft26              99.91%
fireplaceflag                   99.78%
architecturalstyledesc          99.73%
architecturalstyletypeid        99.73%
typeconstructiondesc            99.71%
typeconstructiontypeid          99.71%
finishedsquarefeet6             99.50%
pooltypeid10                    99.40%
decktypeid                      99.21%
poolsizesum                     98.88%
pooltypeid2                     98.62%
hashottuborspa                  98.02%
yardbuildingsqft17              96.92%
taxdelinquencyyear              96.26%
taxdelinquencyflag              96.26%
finishedsquarefeet15            96.10%
finishedsquarefeet50            92.22%
finishedfloor1squarefeet        92.22%
fireplacecnt                    89.32%
threequarterbathnbr             86.97%
pooltypeid7                     80.56%
poolcnt                         79.15%
numberofstories                 77.32%
airconditioningdesc             67.77%
airconditioningtypeid           67.77%
garagetotalsqft                 67.11%
garagecarcnt                    67.11%
regionidneighborhood            60.07%
heatingorsystemdesc             36.10%
heatingorsystemtypeid           36.10%
buildingqualitytypeid           35.79%
propertyzoningdesc              34.93%
unitcnt                         34.64%
lotsizesquarefeet               10.64%
finishedsquarefeet12             4.71%
regionidcity                     1.90%
calculatedbathnbr                0.79%
fullbathcnt                      0.79%
yearbuilt                        0.35%
censustractandblock              0.32%
calculatedfinishedsquarefeet     0.26%
structuretaxvaluedollarcnt       0.15%
regionidzip                      0.06%
taxamount                        0.01%
landtaxvaluedollarcnt            0.00%
taxvaluedollarcnt                0.00%
longitude                        0.00%
parcelid                         0.00%
propertylandusedesc              0.00%
propertylandusetypeid            0.00%
roomcnt                          0.00%
regionidcounty                   0.00%
rawcensustractandblock           0.00%
id                               0.00%
logerror                         0.00%
lasttransactiondate              0.00%
bathroomcnt                      0.00%
fips                             0.00%
propertycountylandusecode        0.00%
assessmentyear                   0.00%
latitude                         0.00%
bedroomcnt                       0.00%
dtype: object

## 3.
>Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [38]:
def missing_values_summary(df):
    # Using `isnull()` and `notnull()` we can calculate the number of missing values and non-null values.
    nulls = df.isnull().sum()
    non_nulls = df.notnull().sum()

    # Add missing values and non-null values together to get the total number values in each column.
    total_values = nulls + non_nulls

    # Create a variable to store the percentage of missing values in each column.
    pct_missing = (nulls/total_values)

    # Perform formatting to clearly see the percentage of missing values in each column.
    df = pd.DataFrame({'attribute':pct_missing.index.values,
                       'num_rows_missing':nulls.values,
                       'pct_rows_missing':pct_missing.values})
    return df

In [39]:
missing_values_summary(df)

                       attribute  num_rows_missing  pct_rows_missing
0         typeconstructiontypeid             77353          0.997138
1                    storytypeid             77525          0.999355
2          propertylandusetypeid                 0          0.000000
3          heatingorsystemtypeid             28005          0.361005
4            buildingclasstypeid             77560          0.999807
5       architecturalstyletypeid             77369          0.997345
6          airconditioningtypeid             52569          0.677654
7                       parcelid                 0          0.000000
8                             id                 0          0.000000
9                   basementsqft             77525          0.999355
10                   bathroomcnt                 0          0.000000
11                    bedroomcnt                 0          0.000000
12         buildingqualitytypeid             27766          0.357925
13             calculatedbathnbr               615          0.007928
14                    decktypeid             76961          0.992085
15      finishedfloor1squarefeet             71540          0.922204
16  calculatedfinishedsquarefeet               200          0.002578
17          finishedsquarefeet12              3655          0.047116
18          finishedsquarefeet13             77533          0.999459
19          finishedsquarefeet15             74548          0.960980
20          finishedsquarefeet50             71540          0.922204
21           finishedsquarefeet6             77189          0.995024
22                          fips                 0          0.000000
23                  fireplacecnt             69288          0.893174
24                   fullbathcnt               615          0.007928
25                  garagecarcnt             52058          0.671067
26               garagetotalsqft             52058          0.671067
27                hashottuborspa             76036          0.980161
28                      latitude                 0          0.000000
29                     longitude                 0          0.000000
30             lotsizesquarefeet              8257          0.106439
31                       poolcnt             61402          0.791518
32                   poolsizesum             76706          0.988798
33                  pooltypeid10             77110          0.994006
34                   pooltypeid2             76501          0.986155
35                   pooltypeid7             62497          0.805633
36     propertycountylandusecode                 0          0.000000
37            propertyzoningdesc             27100          0.349339
38        rawcensustractandblock                 0          0.000000
39                  regionidcity              1472          0.018975
40                regionidcounty                 0          0.000000
41          regionidneighborhood             46602          0.600735
42                   regionidzip                50          0.000645
43                       roomcnt                 0          0.000000
44           threequarterbathnbr             67470          0.869739
45                       unitcnt             26872          0.346400
46            yardbuildingsqft17             75182          0.969152
47            yardbuildingsqft26             77505          0.999098
48                     yearbuilt               269          0.003468
49               numberofstories             59979          0.773174
50                 fireplaceflag             77403          0.997783
51    structuretaxvaluedollarcnt               115          0.001482
52             taxvaluedollarcnt                 1          0.000013
53                assessmentyear                 0          0.000000
54         landtaxvaluedollarcnt                 2          0.000026
55                     taxamount                 5          0.000064
56            taxdelinquencyflag             74675          0.962617
57            taxdelinquencyyear             74675          0.962617
58           censustractandblock               247          0.003184
59                      logerror                 0          0.000000
60           lasttransactiondate                 0          0.000000
61           airconditioningdesc             52569          0.677654
62        architecturalstyledesc             77369          0.997345
63             buildingclassdesc             77560          0.999807
64           heatingorsystemdesc             28005          0.361005
65           propertylandusedesc                 0          0.000000
66                     storydesc             77525          0.999355
67          typeconstructiondesc             77353          0.997138

## 4.

> Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [40]:
# Using `isnull()` and `notnull()` we can calculate the number of missing values and non-null values.
nulls = df.isnull().sum(axis=1)
non_nulls = df.notnull().sum(axis=1)

# Add missing values and non-null values together to get the total number values in each column.
total_values = nulls + non_nulls

# Create a variable to store the percentage of missing values in each column.
pct_missing = (nulls/total_values)

df = pd.DataFrame({'num_cols_missing':pct_missing.index,
                   'pct_cols_missing':pct_missing.values,
                   'num_rows':nulls.values,
                   })

In [41]:
df.shape

(77575, 3)

In [42]:
df.head()

   num_cols_missing  pct_cols_missing  num_rows
0                 0          0.455882        31
1                 1          0.426471        29
2                 2          0.455882        31
3                 3          0.455882        31
4                 4          0.455882        31

In [43]:
df = pd.read_csv('zillow.csv')

In [44]:
# Consolidate missing row summary and missing column summary into main function.
def missing_values_summary(df, columns=False):
    
    if columns:
        nulls = df.isnull().sum(axis=1)
        non_nulls = df.notnull().sum(axis=1)
    # Using `isnull()` and `notnull()` we can calculate the number of missing values and non-null values.
    else:
        nulls = df.isnull().sum()
        non_nulls = df.notnull().sum()

    # Add missing values and non-null values together to get the total number values in each column.
    total_values = nulls + non_nulls

    # Create a variable to store the percentage of missing values in each column.
    pct_missing = (nulls/total_values)

    if columns:
        df = pd.DataFrame({'num_cols_missing':pct_missing.index,
                           'pct_cols_missing':pct_missing.values,
                           'num_rows':nulls.values,
                           })
    else:
        df = pd.DataFrame({'attribute':pct_missing.index.values,
                           'num_rows_missing':nulls.values,
                           'pct_rows_missing':pct_missing.values
                          })
    return df

In [45]:
missing_values_summary(df).sample(5)

                 attribute  num_rows_missing  pct_rows_missing
62  architecturalstyledesc             77369          0.997345
45                 unitcnt             26872          0.346400
53          assessmentyear                 0          0.000000
42             regionidzip                50          0.000645
30       lotsizesquarefeet              8257          0.106439

In [46]:
# I realized I must use value_counts to group observations with the same number of missing values.
missing_values_summary(df, columns=True).head()

   num_cols_missing  pct_cols_missing  num_rows
0                 0          0.455882        31
1                 1          0.426471        29
2                 2          0.455882        31
3                 3          0.455882        31
4                 4          0.455882        31

In [47]:
df.shape[1]

68

In [48]:
temp = df.isnull().sum(axis=1).value_counts().sort_index()
test = pd.DataFrame({'num_cols_missing': temp.index,
                     'pct_cols_missing': (temp.values/df.shape[0]) * 100,
                     'num_rows': df.isnull().sum(axis=1).value_counts().sort_index()
                    }).reset_index(drop=True)

# Interesting. All observations in the dataset have at the minimum 23 missing values.
# These numbers will change once columns are dropped and missing values are imputed
print(f"There are {test.num_rows.sum()} observations missing at least {test.num_cols_missing.min()} values.")

There are 77575 observations missing at least 23 values.

In [49]:
test.head()

   num_cols_missing  pct_cols_missing  num_rows
0                23          0.002578         2
1                24          0.016758        13
2                25          0.030938        24
3                26          0.083790        65
4                27          0.407348       316

```python
# I can use the columns kwarg to filter each observation using a missing value threshold.
def missing_values_summary(df, columns=False):
    
    if columns:
        nulls = df.isnull().sum(axis=1)
        non_nulls = df.notnull().sum(axis=1)
    ...

    # Add missing values and non-null values together to get the total number values in each column.
    total_values = nulls + non_nulls

    # Create a variable to store the percentage of missing values in each column.
    pct_missing = (nulls/total_values)

    if columns:
        df = pd.DataFrame({'num_cols_missing':pct_missing.index,
                           'pct_cols_missing':pct_missing.values,
                           'num_rows':nulls.values,
                           })
    ...
    return df
```

In [50]:
# Refactor the function to include the correct missing value statistics.
# Consolidate missing row summary and missing column summary into main function.
def missing_values_summary(df, observations=False):
    '''
    
    '''
    
    # If observations=True, calculate the number of observations that have the
    # same amount of missing values.
    if observations:
        num_columns_missing = df.isnull().sum(axis=1).value_counts().sort_index()
        
    # Using `isnull()` and `notnull()` we can calculate the number of missing values and non-null values.
    nulls = df.isnull().sum()
    non_nulls = df.notnull().sum()

    # Add missing values and non-null values together to get the total number values in each column.
    total_values = nulls + non_nulls

    # Create a variable to store the percentage of missing values in each column.
    pct_missing = (nulls/total_values)
    
    # If observations=True: Return groups of observations with the same number of missing values.
    if observations:
        df = pd.DataFrame({'num_cols_missing': num_columns_missing.index,
                           'pct_cols_missing': (num_columns_missing.values/df.shape[0]) * 100,
                           'num_rows': df.isnull().sum(axis=1).value_counts().sort_index()
                          }).reset_index(drop=True)
    # Else: Return the number of missing values for each attribute.
    else:
        df = pd.DataFrame({'attribute':pct_missing.index.values,
                           'num_rows_missing':nulls.values,
                           'pct_rows_missing':pct_missing.values
                          })
    return df

In [51]:
missing_values_summary(df, observations=False).head()

                attribute  num_rows_missing  pct_rows_missing
0  typeconstructiontypeid             77353          0.997138
1             storytypeid             77525          0.999355
2   propertylandusetypeid                 0          0.000000
3   heatingorsystemtypeid             28005          0.361005
4     buildingclasstypeid             77560          0.999807

In [52]:
missing_values_summary(df, observations=True).head()

   num_cols_missing  pct_cols_missing  num_rows
0                23          0.002578         2
1                24          0.016758        13
2                25          0.030938        24
3                26          0.083790        65
4                27          0.407348       316

### Takeaways: Summarizing Missing Values in a Dataset
> This is a new way to look at future datasets.
1. I want to see the number of values missing per column BEFORE I see the missing values for each observation. This will tell me which columns are imputable and which are not.
    - Using df.nunique() one could determine whether the data is a categorical variable. If so, use additional non-missing features, to help impute values. If not, then drop the column.
2. After I see the number of missing values per attribute, I want to see how many features each row is missing.
    - May want to create a filtered threshold function that filters out columns that are missing up to a certain n,= or feature.
3. I'll also check to see if there is anything about the data I missed.
    - What was the data about again, what's the story?
    - Does this feature help tell the story?
    - What don't I know about these features? What do the values represent? i.e. $, measurements
    - Do I need to acquire more data? Do I need to query for additional features?
    - Can I acquire missing data from an outside source?

# Prepare

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [53]:
df.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,censustractandblock,logerror,lasttransactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10711855,1087254,NaN,...,6.037113e+13,-0.007357,2017-07-07,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
1,NaN,NaN,261.0,2.0,NaN,NaN,1.0,10711877,1072280,NaN,...,6.037113e+13,0.021066,2017-08-29,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
2,NaN,NaN,261.0,2.0,NaN,NaN,1.0,10711888,1340933,NaN,...,6.037113e+13,0.077174,2017-04-04,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10711910,1878109,NaN,...,6.037113e+13,-0.041238,2017-03-17,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10711923,2190858,NaN,...,6.037113e+13,-0.009496,2017-03-24,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN

In [54]:
# Display the property description of to filter data.
df.propertylandusedesc.value_counts(dropna=False)

Single Family Residential                     52439
Condominium                                   19341
Duplex (2 Units, Any Combination)              2021
Planned Unit Development                       1947
Quadruplex (4 Units, Any Combination)           729
Triplex (3 Units, Any Combination)              539
Cluster Home                                    335
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       59
Residential General                              41
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

In [61]:
# 26,000 missing values of unitcnt. Let's see if we can infer/impute these values
df.unitcnt.value_counts(dropna=False)

1.0      47413
NaN      26872
2.0       2031
4.0        726
3.0        529
45.0         1
6.0          1
237.0        1
42.0         1
Name: unitcnt, dtype: int64

In [56]:
# First create a list of property descriptions that are defined as single unit properties
single_unit_properties = ['Single Family Residential', 'Condominium', 'Townhouse', 'Mobile Home']

# Pass property descriptions as a mask to filter out properties not defined as single-units.
df_filtered = df[df.propertylandusedesc.isin(single_unit_properties)]

In [62]:
# Well, most NaN's are considered single unit properties. Let's look at bedrooms, squarefeet
df_filtered.unitcnt.value_counts(dropna=False)

1.0    45403
NaN    26419
2.0       34
3.0        3
6.0        1
Name: unitcnt, dtype: int64

In [65]:
df_unitcnts = df_filtered[df_filtered.unitcnt == np.nan]
df_unitcnts

Empty DataFrame
Columns: [typeconstructiontypeid, storytypeid, propertylandusetypeid, heatingorsystemtypeid, buildingclasstypeid, architecturalstyletypeid, airconditioningtypeid, parcelid, id, basementsqft, bathroomcnt, bedroomcnt, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, threequarterbathnbr, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock, logerror, lasttransactiondate, airconditioningdesc, architecturalstyledesc, buildingclassdesc, heatingorsystemdesc, propertylandusedesc, storydesc, typeconstructiondesc]
Index: []

[0 rows x 68 columns]

## 2.
Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).
   - The input:
        - A dataframe
        - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
        - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
   - The output:
       - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
   - hint:
        - Look up the dropna documentation.
        - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
        - Make use of inplace, i.e. inplace=True/False.

In [ ]:
# Thresholds for column and row
prop_required_column=.75
prop_required_row=.75

# Using `isnull()` and `notnull()` we can calculate the number of missing values and non-null values.

# Missing values for each attribute
row_nulls = df.isnull().sum()
row_non_nulls = df.notnull().sum()
# Missing values for each observation
col_nulls = df.isnull().sum(axis=1)
col_non_nulls = df.notnull().sum(axis=1)

# Add missing values and non-null values together to get the total number values in each column/row.
total_values_in_row = row_nulls + row_non_nulls
total_values_in_column = col_nulls + col_non_nulls

# Calculate the percentage missing for eacf feature and each observation.
(row_nulls/total_values_in_row).sort_values(ascending=False)
# col_non_nulls/total_values_in_column

```python
# Placed code in a markdown cell to use as a guiding template.
def missing_values_summary(df, columns=False):
    
    if columns:
        nulls = df.isnull().sum(axis=1)
        non_nulls = df.notnull().sum(axis=1)
    # Using `isnull()` and `notnull()` we can calculate the number of missing values and non-null values.
    else:
        nulls = df.isnull().sum()
        non_nulls = df.notnull().sum()

    # Add missing values and non-null values together to get the total number values in each column.
    total_values = nulls + non_nulls

    # Create a variable to store the percentage of missing values in each column.
    pct_missing = (nulls/total_values)

    if columns:
        df = pd.DataFrame({'num_cols_missing':pct_missing.index,
                           'pct_cols_missing':pct_missing.values,
                           'num_rows':nulls.values,
                           })
    else:
        df = pd.DataFrame({'attribute':pct_missing.index.values,
                           'num_rows_missing':nulls.values,
                           'pct_rows_missing':pct_missing.values
                          })
```

## 4.
Decide how to handle the remaining missing values:
- Fill with constant value.
- Impute with mean, median, mode.
- Drop row/column